<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appointments</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Appointments Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/appointments">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-appointment">Add Appointment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="display-4">Appointments</h1>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <a href="/add-appointment" class="btn btn-primary">Add Appointment</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Truck</th>
                    <th>Supplier</th>
                    <th>Resource</th>
                    <th>Date</th>
                    <th>Time slot</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment : ${appointments}">
                    <td th:text="${appointment.truck.getLicenseplate()}"></td>
                    <td th:text="${appointment.supplier.getName()}"></td>
                    <td th:text="${appointment.resource.getName()}"></td>
                    <td th:text="${#dates.format(appointment.arrivalWindow.date, 'yyyy-MM-dd')}"></td>
                    <td th:text="${appointment.getArrivalWindow().getTimeslot()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
