<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Make Your Appointment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Krystal Distributie Group</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/appointments}">Manage Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/add-appointment}">Add Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/truck-entry}">Check Truck Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/fifo-queue}">FIFO Queue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/weighbridge}">Weighbridge Management</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center mb-4">Make Your Appointment</h1>
      <form action="/add-appointment" method="POST" th:object="${Appointment}" >
        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">The form contained errors</div>

        <div class="form-group mb-3">
          <label for="supplier">Supplier Name</label>
          <input type="text" class="form-control" id="supplier" th:field="*{supplier.name}" required>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('supplier.name')}" th:errors="*{supplier.name}">Supplier does not exist.</div>
        </div>
        <div class="form-group mb-3">
          <label for="truck">Truck License Plate</label>
          <input type="text" class="form-control" id="truck" th:field="*{truck.licenseplate}" required>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('truck.licenseplate')}" th:errors="*{truck.licenseplate}">Supplier does not exist.</div>
        </div>

        <!-- Resource select -->
        <div class="form-group mb-3">
          <label for="resource">Resource</label>
          <select id="resource" class="form-select" th:field="*{resource}" required>
            <option value="" disabled selected>Select a resource</option>
            <option th:each="resource : ${T(be.kdg.SA.Land.domain.enums.ResourceType).values()}" th:value="${resource}" th:text="${resource}"></option>
          </select>
          <div class="invalid-feedback">Please provide the resource you are carrying.</div>
        </div>

        <div class="form-group mb-3">
          <label for="arrivalDate">Select Arrival Date</label>
          <input type="date" id="arrivalDate" class="form-control" th:field="*{arrivalWindow.date}" required>
          <div class="invalid-feedback">Please select a date.</div>
        </div>

        <div class="form-group mb-3">
          <label for="arrivalTimeSlot">Select Arrival Time Slot</label>
          <select id="arrivalTimeSlot" class="form-select" th:field="*{arrivalWindow.startTime}" required>
            <option value="" disabled selected>Select a time window</option>
            <option th:each="slot : ${TimeSlots}" th:value="${slot.startTime}" th:text="${slot.timeslot}"></option>
          </select>
        </div>



        <button type="submit" class="btn btn-primary btn-block btn-submit">Add Appointment</button>
      </form>
    </div>
  </div>
</div>

<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
