<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<h1>Subscribe to xXEmily2009Xx</h1>

<div class="row mb-4">
    <div class="col text-center">
        <a href="/add-appointment" class="btn btn-primary">Add Appointment</a>
    </div>
</div>
<div class="row mb-4">
    <div class="col text-center">
        <a href="/appointments" class="btn btn-primary">All Appointments</a>
    </div>
</div>
</body>
</html>